<div class="container d-flex mt-5 ">
  <div class="card m-3" style="width: 18rem">
    <img
      src="https://i.ibb.co/tXN5xxq/003.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title text-center">Mantenimineto</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
  <div class="card m-3" style="width: 18rem">
    <img
      src="https://i.ibb.co/cbY4BJ7/004.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title text-center">Aumento de memoria</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
  <div class="card m-3" style="width: 18rem">
    <img
      src="https://i.ibb.co/Js2nps3/005.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title text-center">Cambio de display</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div> 
  <div class="card m-3" style="width: 18rem">
    <img
      src="https://i.ibb.co/cbY4BJ7/004.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title text-center">Mantenimineto de parlantes</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div> 
  
  
</div>
